version: "3.7"

include:
  - path:
    - docker-compose.yml
    - docker-compose-traefik-override.yml

services:
  traefik:
    image: traefik:2.11
    command: --providers.docker --api.insecure=true
    ports:
      - "80:80"
      - "8080:8080"
    environment:
      - LOG_LEVEL=debug
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  traefik-forward-auth:
    image: mesosphere/traefik-forward-auth
    command: --client-secret $KEYCLOAK_CLIENT_SECRET --client-id $KEYCLOAK_CLIENT_ID --provider-uri "$TRAEFIK_FORWARD_AUTH_ADMIN_URL/auth/realms/$KEYCLOAK_REALM" --secret $KEYCLOAK_CLIENT_SECRET
    environment:
      - INSECURE_COOKIE=true # Example assumes no https, do not use in production
      - LOG_LEVEL=debug
    env_file: .env
    labels:
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.address=http://traefik-forward-auth:4181"
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.authResponseHeaders=X-Forwarded-User"
      - "traefik.http.services.traefik-forward-auth.loadbalancer.server.port=4181"
