openapi: 3.0.3
info:
  title: ''
  version: 0.0.0
paths:
  /integrated_system/:
    get:
      operationId: integrated_system_list
      description: Viewset for IntegratedSystem model.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - integrated_system
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIntegratedSystemList'
          description: ''
    post:
      operationId: integrated_system_create
      description: Viewset for IntegratedSystem model.
      tags:
      - integrated_system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegratedSystem'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IntegratedSystem'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IntegratedSystem'
        required: true
      security:
      - cookieAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratedSystem'
          description: ''
  /integrated_system/{id}/:
    get:
      operationId: integrated_system_retrieve
      description: Viewset for IntegratedSystem model.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this integrated system.
        required: true
      tags:
      - integrated_system
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratedSystem'
          description: ''
    put:
      operationId: integrated_system_update
      description: Viewset for IntegratedSystem model.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this integrated system.
        required: true
      tags:
      - integrated_system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegratedSystem'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IntegratedSystem'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IntegratedSystem'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratedSystem'
          description: ''
    patch:
      operationId: integrated_system_partial_update
      description: Viewset for IntegratedSystem model.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this integrated system.
        required: true
      tags:
      - integrated_system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedIntegratedSystem'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedIntegratedSystem'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedIntegratedSystem'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratedSystem'
          description: ''
    delete:
      operationId: integrated_system_destroy
      description: Viewset for IntegratedSystem model.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this integrated system.
        required: true
      tags:
      - integrated_system
      security:
      - cookieAuth: []
      responses:
        '204':
          description: No response body
  /product/:
    get:
      operationId: product_list
      description: Viewset for Product model.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - product
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProductList'
          description: ''
    post:
      operationId: product_create
      description: Viewset for Product model.
      tags:
      - product
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Product'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Product'
        required: true
      security:
      - cookieAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: ''
  /product/{id}/:
    get:
      operationId: product_retrieve
      description: Viewset for Product model.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this product.
        required: true
      tags:
      - product
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: ''
    put:
      operationId: product_update
      description: Viewset for Product model.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this product.
        required: true
      tags:
      - product
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Product'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Product'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: ''
    patch:
      operationId: product_partial_update
      description: Viewset for Product model.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this product.
        required: true
      tags:
      - product
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedProduct'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedProduct'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedProduct'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: ''
    delete:
      operationId: product_destroy
      description: Viewset for Product model.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this product.
        required: true
      tags:
      - product
      security:
      - cookieAuth: []
      responses:
        '204':
          description: No response body
components:
  schemas:
    IntegratedSystem:
      type: object
      description: Serializer for IntegratedSystem model.
      properties:
        id:
          type: integer
          readOnly: true
        deleted_on:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        deleted_by_cascade:
          type: boolean
          readOnly: true
        created_on:
          type: string
          format: date-time
          readOnly: true
        updated_on:
          type: string
          format: date-time
          readOnly: true
        name:
          type: string
          maxLength: 255
        description:
          type: string
        api_key:
          type: string
      required:
      - created_on
      - deleted_by_cascade
      - deleted_on
      - id
      - name
      - updated_on
    PaginatedIntegratedSystemList:
      type: object
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/IntegratedSystem'
    PaginatedProductList:
      type: object
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/Product'
    PatchedIntegratedSystem:
      type: object
      description: Serializer for IntegratedSystem model.
      properties:
        id:
          type: integer
          readOnly: true
        deleted_on:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        deleted_by_cascade:
          type: boolean
          readOnly: true
        created_on:
          type: string
          format: date-time
          readOnly: true
        updated_on:
          type: string
          format: date-time
          readOnly: true
        name:
          type: string
          maxLength: 255
        description:
          type: string
        api_key:
          type: string
    PatchedProduct:
      type: object
      description: Serializer for Product model.
      properties:
        id:
          type: integer
          readOnly: true
        deleted_on:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        deleted_by_cascade:
          type: boolean
          readOnly: true
        created_on:
          type: string
          format: date-time
          readOnly: true
        updated_on:
          type: string
          format: date-time
          readOnly: true
        sku:
          type: string
          description: SKU of the product.
          maxLength: 255
        name:
          type: string
          description: Short name of the product, displayed in carts/etc.
          maxLength: 255
        price:
          type: string
          format: decimal
          pattern: ^-?\d{0,5}(?:\.\d{0,2})?$
          description: Price (decimal to two places)
        description:
          type: string
          description: Long description of the product.
        system_data:
          nullable: true
          description: System-specific data for the product (in JSON).
        system:
          type: integer
          description: Owner system of the product.
    Product:
      type: object
      description: Serializer for Product model.
      properties:
        id:
          type: integer
          readOnly: true
        deleted_on:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        deleted_by_cascade:
          type: boolean
          readOnly: true
        created_on:
          type: string
          format: date-time
          readOnly: true
        updated_on:
          type: string
          format: date-time
          readOnly: true
        sku:
          type: string
          description: SKU of the product.
          maxLength: 255
        name:
          type: string
          description: Short name of the product, displayed in carts/etc.
          maxLength: 255
        price:
          type: string
          format: decimal
          pattern: ^-?\d{0,5}(?:\.\d{0,2})?$
          description: Price (decimal to two places)
        description:
          type: string
          description: Long description of the product.
        system_data:
          nullable: true
          description: System-specific data for the product (in JSON).
        system:
          type: integer
          description: Owner system of the product.
      required:
      - created_on
      - deleted_by_cascade
      - deleted_on
      - description
      - id
      - name
      - price
      - sku
      - system
      - updated_on
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
