{% extends "base.html" %}

{% block title %}Cart{% endblock %}
{% block innertitle %}Cart{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <p>
            This is the current cart information for {{ user.email }} ({{ user.first_name }} {{ user.last_name }}).
        </p>
        <button type="button" id="clear-button" class="d-block btn btn-secondary float-end">Clear Cart</button>
    </div>
</div>
{% if basket %}
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% if basket_items|length == 0 %}
                <tr>
                    <td colspan="4">No items in the basket.</td>
                </tr>
                {% endif %}
                {% for item in basket_items %}
                <tr>
                    <td>{{ item.product }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <a href="{% url 'checkout_interstitial_page' system_slug=basket.integrated_system.slug %}" class="btn btn-primary float-end">Check Out</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-12">
        <p>Add a product to the basket:</p>

        <form method="post" id="cartform">
            {% csrf_token %}
            <input type="hidden" name="checkout" value="1" />
            <div class="form-group">
                <label for="product">Product</label>
                <select name="product" id="product">
                    <option></option>
                    {% for product in products %}
                    <option value="{{ product.system.slug }}/{{ product.sku }}">{{ product.system.name }} - {{ product.name }} ${{ product.price }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group d-flex align-items-end mt-2">
                <button type="submit" class="wl-auto btn btn-primary me-2">Add Item</button>
                <button type="submit" id="add-and-checkout" class="wl-auto btn btn-success">Add Item &amp; Check Out</button>
            </div>
        </form>
    </div>
    <div class="col-12">
        <p>Add a discount code to the basket:</p>

        <form method="post" id="discountform">
            {% csrf_token %}
            <input name="discount_code" id="discount_code"/>
            <div class="form-group d-flex align-items-end mt-2">
                <button type="submit" class="wl-auto btn btn-primary me-2">Add discount</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
function add_to_cart(event) {
    var product_raw = encodeURIComponent(document.getElementById("product").value);
    var csrfmiddlewaretoken = encodeURIComponent(document.querySelector("input[name='csrfmiddlewaretoken']").value);

    if (event.submitter.id === "add-and-checkout") {
        var form = event.target;

        form.setAttribute("action", `/api/v0/payments/baskets/create_from_product/${product_raw}/`);
        return true;
    }

    event.preventDefault();

    axios.post(`/api/v0/payments/baskets/create_from_product/${product_raw}/`, {}, { headers: { "X-CSRFToken": csrfmiddlewaretoken }})
        .then(function (response) {
            window.location.reload();
        })
     .catch(function (error) {
            alert(error);
        });

    return false;
}

function add_discount(event) {
    var discount_code = encodeURIComponent(document.getElementById("discount_code").value);
    var csrfmiddlewaretoken = encodeURIComponent(document.querySelector("input[name='csrfmiddlewaretoken']").value);
    var pathArray = window.location.pathname.split('/');
    var system_slug = pathArray[2];
    axios.post(`/api/v0/payments/baskets/add_discount/${system_slug}/`, {discount_code: discount_code}, { headers: { "X-CSRFToken": csrfmiddlewaretoken }})
        .then(function (response) {
            window.location.reload();
        })
     .catch(function (error) {
            alert(error);
        });

    return false;
}

function clear_cart(event) {
    event.preventDefault();

    var csrfmiddlewaretoken = encodeURIComponent(document.querySelector("input[name='csrfmiddlewaretoken']").value);
    var pathArray = window.location.pathname.split('/');
    var system_slug = pathArray[2];
    axios.delete(`/api/v0/payments/baskets/clear/${system_slug}/`, { headers: { "X-CSRFToken": csrfmiddlewaretoken } })
        .then(function (response) {
            window.location.reload();
        })
     .catch(function (error) {
            alert(error);
        });

    return false;
}

document.getElementById("cartform").addEventListener("submit", add_to_cart);
document.getElementById("discountform").addEventListener("submit", add_discount);
document.getElementById("clear-button").addEventListener("click", clear_cart);
</script>
{% endblock body %}
