{% extends "base.html" %}

{% block title %}Cart{% endblock %}
{% block innertitle %}Cart{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <p>
            This is the current cart information.
            <button type="button" id="clear-button" class="btn btn-secondary float-right">Clear Cart</button>
        </p>
    </div>
</div>
{% if basket %}
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% if basket_items|length == 0 %}
                <tr>
                    <td colspan="4">No items in the basket.</td>
                </tr>
                {% endif %}
                {% for item in basket_items %}
                <tr>
                    <td>{{ item.product }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <a href="{% url 'checkout_interstitial_page' %}" class="btn btn-primary float-right">Check Out</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-12">
        <p>Add a product to the basket:</p>

        <form method="post" id="cartform">
            {% csrf_token %}
            <input type="hidden" name="checkout" value="1" />
            <div class="form-group">
                <label for="product">Product</label>
                <select name="product" id="product">
                    <option></option>
                    {% for product in products %}
                    <option value="{{ product.system.slug }}/{{ product.sku }}">{{ product.system.name }} - {{ product.name }} ${{ product.price }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group d-flex align-items-end">
                <button type="submit" class="wl-auto btn btn-primary">Add Item</button>
                <button type="submit" id="add-and-checkout" class="wl-auto btn btn-success">Add Item &amp; Check Out</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
function add_to_cart(event) {
    console.log("adding to cart");

    var product_raw = document.getElementById("product").value;
    var csrfmiddlewaretoken = document.querySelector("input[name='csrfmiddlewaretoken']").value

    if (event.submitter.id === "add-and-checkout") {
        var form = event.target;
        
        form.setAttribute("action", `http://ue.odl.local/api/v0/payments/baskets/create_from_product/${product_raw}/`)
        return true;
    }

    event.preventDefault();

    axios.post(`http://ue.odl.local/api/v0/payments/baskets/create_from_product/${product_raw}/`, {}, { headers: { "X-CSRFToken": csrfmiddlewaretoken }})
        .then(function (response) {
            window.location.reload();
        })
     .catch(function (error) {
            alert(error);
        });

    return false;
}

function clear_cart(event) {
    event.preventDefault();

    var slug = "{{ basket.integrated_system.slug }}";
    var csrfmiddlewaretoken = document.querySelector("input[name='csrfmiddlewaretoken']").value

    axios.delete(`http://ue.odl.local/api/v0/payments/baskets/clear/`, { headers: { "X-CSRFToken": csrfmiddlewaretoken } })
        .then(function (response) {
            window.location.reload();
        })
     .catch(function (error) {
            alert(error);
        });

    return false;
}

document.getElementById("cartform").addEventListener("submit", add_to_cart);
document.getElementById("clear-button").addEventListener("click", clear_cart);
</script>
{% endblock body %}
