upstreams:
  - id: 1
    nodes:
      "nginx:8073": 1
    type: roundrobin

routes:
  - id: 1
    name: "ue-unauth"
    desc: "Unauthenticated routes, including assets and checkout callback API"
    priority: 1
    upstream_id: 1
    plugins: {}
    uris:
    - "/api/v0/payments/checkout/result/*"
    - "/static/*"
    - "/api/*"
    - "/auth/*"
    - "/_/v0/meta/apisix_test_request/"
    - "/logged_out/"
  - id: 2
    name: "ue-default"
    desc: "Wildcard route for the rest of the system - authentication required"
    priority: 1
    upstream_id: 1
    plugins:
      openid-connect:
        client_id: ${{KEYCLOAK_CLIENT_ID}}
        client_secret: ${{KEYCLOAK_CLIENT_SECRET}}
        discovery: ${{KEYCLOAK_DISCOVERY_URL}}
        realm: ${{KEYCLOAK_REALM}}
        scope: "openid profile ol-profile"
        bearer_only: false
        introspection_endpoint_auth_method: "client_secret_post"
        ssl_verify: false
        logout_path: "/logout/"
        post_logout_redirect_uri: ${{UE_LOGOUT_URL}}
      cors:
        allow_origins: "**"
        allow_methods: "**"
        allow_headers: "**"
        allow_credential: true
      response-rewrite:
        headers:
          set:
            Referrer-Policy: "origin"
    uris:
    - "/*"

#END
