upstreams:
  - id: 1
    nodes:
      "nginx:8073": 1
    type: roundrobin

routes:
  - id: 1
    name: "ue-unauth"
    desc: "Unauthenticated routes, including assets and checkout callback API"
    priority: 0
    upstream_id: 1
    plugins: {}
    uris:
    - "/checkout/result/*"
    - "/static/*"
    - "/api/schema/*"
  - id: 2
    name: "ue-default"
    desc: "Wildcard route for the rest of the system - authentication required"
    priority: 1
    upstream_id: 1
    plugins:
      openid-connect:
        client_id: ${{KEYCLOAK_CLIENT_ID}}
        client_secret: ${{KEYCLOAK_CLIENT_SECRET}}
        discovery: ${{KEYCLOAK_DISCOVERY_URL}}
        realm: ${{KEYCLOAK_REALM}}
        scope: "openid profile"
        bearer_only: false
        introspection_endpoint_auth_method: "client_secret_post"
    uris:
    - "/*"

#END
