name: Publish Documentation
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish Documentation
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5
        with:
          python-version: 3.11
      - name: Install ghp-import
        run: pip install ghp-import
      - name: Initialize Pants
        uses: pantsbuild/actions/init-pants@main
        with:
          # cache0 makes it easy to bust the cache if needed
          gha-cache-key: cache0-py${{ matrix.python_version }}
          named-caches-hash: ${{ hashFiles('dist/sphinx/*') }}
      - name: Build documentation
        run: |
          pants docs ::
      - name: Publish Documentation
        run: ghp-import --push --force --no-history --no-jekyll dist/sphinx/
